@mixin  border($color){
  border: 1px solid $color;
}
@mixin flex-row-noWrap-all-centered(){
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

@mixin flex-column-noWrap-all-centered(){
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

}