/*
spacing vars
*/
$spacing-small: 5px;
$spacing-medium: 15px;
$spacing-large: 20px;
$spacing-xl: 30px;
$spacing-xxl: 50px;

/*
colors
*/

$white: white;
$black: black;
$light: #f8f8ff;
$darker: #DCDCDC;
$dark: gray;
$darkest: #696969;
$cardStoryHeight: 23%;
$cardStorySmHeight: 32%;
$orange: rgba(255, 140, 0, 1);
$orange-light: rgba(255, 140, 0, .8);

/*
fonts
*/
$fontFam: 'helvetica';