/*
spacing vars
*/
$spacing-small: 5px;
$spacing-medium: 15px;
$spacing-large: 20px;
$spacing-xl: 30px;
$spacing-xxl: 50px;

/*
colors
*/

$white: white;
$black: black;
$light: #f8f8ff;
$darker: #DCDCDC;
$dark: gray;
$darkest: #696969;